.square{
  border: 2px solid AliceBlue ;
  border-radius: 5px;
  width: 40px;
  height:40px;
  margin-left: 2px;
  margin-top:2px;
  background-color: AliceBlue ;
  cursor: pointer;
  font-weight: bold;
  vertical-align: middle;
  font-size: 14px;
  display: inline-block;
}

.square:hover{
  background-color: lightblue;
  color: darkgray;
}


.square:active{
  background-color: AliceBlue ;
  color: darkgray;
}

.open{
  background-color: white;
  color: darkgray;
  cursor: default;
}
